* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #F5C47B;
    min-height: 1500px;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

header:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #F5C47B, transparent);
    z-index: 10000;
}

header:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    mix-blend-mode: color;
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#text {
    position: relative;
    left: 25%;
    color: #fff;
    text-shadow: 10px 10px 20px black;
    font-size: 5rem;
    z-index: 1;
}

#mandalorian {
    z-index: 2;
}

#baby {
    z-index: 3;
}

@media screen and (max-width: 1200px) {
    #text{
visibility: hidden;
display: none;
    }
}




































